.each-post{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	padding-top: 34px;
}

.each-post:first-child{
	border-top: 1px solid #e8e8e8;
}

.each-post:last-child{
	border-bottom: none;
}

.post-excerpt{
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
}

.entry-summary{
	margin-top: 5px !important;
}

.entry-title a{
	font-family: 'Segoe UI' !important;
	color: #355278 !important;
}

.thumbnail{

}

.thumbnail img{
	border: 3px solid #8bc34a;
	max-height: 350px;
}

.posted-date, .posted-author, .each-category{
	border: 3px solid #639a22;
	border-left: 8px solid #8bc34a;
	/*border-right: 8px solid #8bc34a;*/
	padding: 0px 7px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block !important;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold !important;
	font-family: 'Segoe UI';
}

.each-category{
	padding: 0px;
}

.each-category a{
	color: green;
	padding: 0px 7px;
	display: inline-block;
}


.each-category a:hover{
	background-color: #336704;
	color: white;
}

.button{
	background-color: #8bc34a !important;
	font-weight: bold !important;
	font-family: 'Segoe UI' !important;
}

.hentry{
	padding: 0px !important;
}

/*#secondary{
	width: 25% !important;
	border: 1px solid black;
}
*/
@media only screen and (min-width: 61.063em){ 
	.layout-two-column-default  #secondary{
		width: 25% !important;
	}
}



/*.content-area{
	width: 69.44445% !important;
	border: 1px solid black;
}
*/
@media only screen and (min-width: 61.063em){
	.layout-two-column-default .content-area{
		width: 69.44445% !important;
	}
}


@media only screen and (max-width: 40.063em){
	.entry-meta > span {
		margin-right: 5px !important;
	}
}


/*CSS RIENG*/
.vuongchau-title{
	border-bottom: 1px solid #ccc;
}

.vuongchau-title h2{
	font-family: 'Segoe UI' !important;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.vuongchau-each-post-sidebar{
	display: flex;
	border-bottom: 1px solid #ccc;
	border-left: 2px solid green;
	padding: 5px 0px;
	padding-left: 5px;
}

.vuongchau-each-post-sidebar:last-child{
	border-bottom: none;
}

.vuongchau-thumbnail-sidebar{
	flex-basis: 100px;
	padding:0px;
	padding-top: 8px;
}

.vuongchau-thumbnail-post-title{
	flex-basis: calc(100% - 100px);
	padding: 3px 0px 0px 4px;
	font-family: 'Segoe UI';
	font-weight: 600;
	line-height: 19px;
}

.vuongchau-thumbnail-post-title a{
	color: green !important;
	word-wrap: ;
}